canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  

}


body {
  margin: 0; /* Elimina márgenes del body */
  padding: 0; /* Elimina padding del body si lo hay */
  overflow: hidden; /* Oculta el overflow si es necesario */
  background-color: #000; /* Fondo negro para el body */
}

.edificio-container {
  position: relative;
}

.rango-slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider-inner {
  background: rgba(255,255,255,0.8);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

.rango-slider input[type="range"] {
  width: 300px;
}

.slider-labels {
  text-align: center;
  margin-top: 2px;
}

.slider-labels .rango-text {
  font-size: 20px;
  font-weight: bold;
  color: black;
}